
*.vsidx
LaRottaO.OfficeTranslationTool/bin/Debug/net8.0-windows/Settings.json
LaRottaO.OfficeTranslationTool/bin/Debug/net8.0-windows/EN_ES_saved_translations.json
LaRottaO.OfficeTranslationTool/bin/Debug/net8.0-windows/EN_DE_saved_translations.json
LaRottaO.OfficeTranslationTool/bin/Debug/net8.0-windows/ES_EN_saved_translations.json
